<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>Fill The Form</h1>
        <form action = "{{url_for('form_submit')}}" method = "POST">
            <label>
                User Name:
            </label><br>
            <input type = "text" name = "user_name"><br>
            <label>
                User E-mail:
            </label><br>
            <input type = "email" name = "user_email"><br>
            <label>
                User Password:
            </label><br>
            <input type = "password" name = "user_password"><br>
            <input type = "submit">
        </form>
    </body>
</html>